.modalContainer{
    display: flex;
    position: absolute;
    top : 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color : #e2e2e2;
    background-color: #3b3b3b;
    height : 10rem;
    width : 15rem;
    border : 1px solid rgb(62, 62, 62);
}

.modalContainer .title {
    font-size: 1.5rem;
    margin: 1rem;

}

.blurContainer{
    display: flex;
    justify-content: center;
    z-index: 1;
    position : fixed;
    width : 100%;
    height : 100%;
    backdrop-filter: blur(5px);
}

.modalContainer .category{
    cursor : pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width : 100%;
}

.modalContainer .category:hover{
    background-color: rgb(92, 92, 92);
}