.singleProd {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    height: 375px;
    box-shadow: none;
    transition: all 300ms ease-in-out;
    margin: 20px;
    border-radius: 8px;
}

.singleProd:hover {
    box-shadow: rgb(0 0 0 / 15%) -3px 6px 18px 5px;

}

.prodImage {
    height: 100%;
    padding: 20px;
    width: 100%;
    transition: all 300ms ease-out;
    object-fit: cover;
    transform: scale(1.1, 1.1);
}

.prodImage:hover{
    transform: scale(1.1, 1.1);
}

.prodDescription {
    padding: 30px 15px 0 15px;
    height : 97px;
    display: flex;
    justify-content : center;
    align-items: center;
}

.prodButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.viewButton {
    background-color: red;
    border-radius: 0 0 0 8px;
}

.addToCartButton {
    border-radius: 0 0 8px 0;
    background: dodgerblue;
}
.viewButton:hover{
    background: darkred;
}.addToCartButton:hover{
    background: darkblue;
}
.addToCartButton,
.viewButton {
    cursor: pointer;
border: none;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 50px;
    transition: all 0.2s ease-in-out;

}
